.custom-form {
    padding: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
}

.custom-form label {
    margin-right: 5px;
}

.custom-form input {
        outline: none;
        border:0;
        box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
        border-bottom:1px solid #eee;
        padding: 10px !important;
        border-radius: 10px;
        content: attr(placeholder);
}

.custom-form-button-container {
    margin: 0 auto;
}

.custom-form button {
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 20px;
    width: 200px;
    min-width: 80px;
    font-size: 16px;
}

.fax-search, .report-search {
    width: 400px;
    min-width: 250px;
    max-width: 500px;
    border: 2px solid gray;
    border-radius: 25px
    
}

